/* General layout */
body {
  max-width: 700px;
  margin: auto;
  border-width: thin medium;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 20px;
  margin-bottom: 50px;
}

/* Headers */
h1 {

}

hr {
  width: inherit;
  margin: 0px;
}

/* Links */
a {
  color: #0645ad;
}
a:visited {
  color: #0b0080;
}

/* Lists */
ul {
  list-style-type: circle;
}
li {
  margin-bottom: 10px;
}

/* Code blocks */
pre {
  overflow-x:auto;
}
