# Python Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
_build
/tests/ns-3-compiled/
/tests/ns-3-compiled-debug/
.pytest_cache
/.coverage
/.dir-locals.el
/coverage_report
/.coverage.*
tests/ns-3
Pipfile.lock
poetry.lock
package-lock.json
