[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinydb = "*"
gitpython = "*"
tqdm = "*"
drmaa = "*"
numpy = "*"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
"flake8" = "*"
sphinx = "*"
pygments = "*"
importmagic = "*"
sphinxcontrib-napoleon = "*"
matplotlib = "*"
xarray = "*"
pytest = "*"
scipy = "*"

[requires]
python_version = "3.6"
