[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinydb = "*"
gitpython = "*"
tqdm = "*"
drmaa = "*"
numpy = "*"
xarray = "*"
"e1839a8" = {path = ".", editable = true}
click = "*"
sem = {path = ".", editable = true}

[dev-packages]
"flake8" = "*"
sphinx = "*"
pygments = "*"
importmagic = "*"
sphinxcontrib-napoleon = "*"
matplotlib = "*"
pytest = "*"
scipy = "*"
pytest-cov = "*"
pytest-xdist = "*"
